
body{
    background-color: black;
    color: antiquewhite;
    margin: 0%;
    padding: 0%;
}

body {
    font-family: Arial, sans-serif;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    transition: background-color 0.3s, color 0.3s;
}

body.dark-mode {
    background-color: #000000;
    color: #ffffff;
}

.container {
    max-width: 800px;
    margin-left: 17px;
    padding: 20px;
    text-align: center;
    font-size: 1px;
}

body.dark-mode span {
    color: rgb(218, 212, 212);
}

*{
    margin: 0%;
    padding: 0%;
}

.fiitt{
  background-color: rgb(142, 3, 3); 
  display: flex;
  height: 80px;
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100%;
   
}

.fiitt1{
  width: 100px;
  font-size: 30px;
  margin-left: 30px;
  margin-top: 20px;
  color: rgb(204, 202, 202);
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

header{
  padding: 10px;   
}

menu{
}

menu > ul{
    list-style-type: none;
    
}

menu > ul > li > a {
    display: block;
    text-decoration: none;
    background-color: rgb(142, 3, 3);
    color: white;
    padding: 10px;
    width: 135px;
    height: 30px;
    border-top: 2px rgb(0, 0, 0);
}

menu > ul > li > a:hover{
    background-color: brown;
}

#burguer{
   color: rgb(218, 212, 212);
   display: block;
   padding: 10px;
   cursor: pointer;
   margin-top: 18px;
   margin-left: auto;
}

#burguer:hover{
    color: red;
}

.text1{
    font-size: 22px;
    margin-left: 31px;
    margin-top: 105px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(204, 200, 200);
}

.inicciall{
    min-width: 100px;
    max-width: 2256;
    max-height: 1400px ;
    margin: 20px;
    margin-top: 27px;
    padding: 6px;
    background-color: rgb(119, 0, 0);
    border-radius: 15px;
}

.apaix{
    min-width: 100px;
    max-width: 2256;
    max-height: 1400px ;
    min-height: 230px;
    margin: 20px;
    margin-top: 27px;
    padding: 6px;
    background-color: rgb(119, 0, 0);
    border-radius: 15px; 
}

.text2{
    color: rgb(210, 210, 210);
}

.p1{
    margin-left: 45px;  
    padding: px;
    font-size: 25px; 
    margin-top: 20px;
    color: rgb(151, 143, 143);
}

.p2{
   margin-left: 18px;  
   padding: 20px;
   font-size: 25px ;  
   text-align: justify;
   color: rgb(151, 143, 143);
}

.text3{
    font-size: 22px;
    margin-left: 31px;
    margin-top: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(210, 210, 210);
}

.hflash{
    font-size: 24px;
    margin-left: 32px;
    margin-top: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(210, 210, 210);
}

.logara3{
    font-size: 22px;
    margin-left: 31px;
    margin-top: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(210, 210, 210);
}

.homii0{
    display: flex;
    padding: 20px;    
}

.homi01{
   display: flex;
}

.homii02{
   display: flex ;
} 

.mainfund{
    background-color: rgb(119, 0, 0);
    width: 295px;
    height: 570px;
    padding: 7px;
    margin: 10px;
    border-radius: 17px;
}

.imgfund{
    width: 295px;
    height: 250px ;
    border-radius: 15px 15px 0px 0px;
}

.tex001{
    color: rgb(218, 204, 204);
    margin-top: 15px;
    margin-left: 5px;
    font-size: 24px;
}

.hugg00{
    color: rgb(210, 198, 198);
    margin-top: 10px;
    margin-left: 5px;
    text-align: justify;
    padding-right: 3px;
}

.textbaix{
    margin-top: 20px;
}

.but{
    width: 100px;
    height: 30px ;
    border-radius: 15px;
    font-size: 15px;
    margin-left: 100px;
    margin-top: 20px;
}

.but:hover{
    background-color: red;
    color: antiquewhite;
}

.funda{
    height: 450px;
    background-color: rgb(119, 0, 0);
}

.ftext{
   margin-left: auto;
   justify-content: space-between;
   display: flex;
   background-color: rgb(0, 0, 91);
   height: 20px;
}

.ftexth{
    margin-top: 50px;
    font-size: 45px;
    margin-left: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.ftextp{
    margin-top: 110px;
    margin-left: 38px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 21px;
    color: rgb(227, 231, 233);
}

.infire{
   margin-right: 30px;
}

.n1{
   width: 53px;
   padding: 0px;
   margin-top: 40px
}

.n2{
    width: 44px;
    padding: 7px;
    margin-top: 40px
}

.n3{
    width: 50px;
    padding: 5px;
    margin-top: 40px
}

.ftexth4{
   font-size: 28px;
   margin-left: 20px;
   margin-top: 20px;
}

.ftextp1{
   font-size: 30px;
   margin-top: 37px;
   margin-left: 70px;
   background-color: rgb(0, 0, 91);
   width: 420px;
   padding: 3px;
   border-radius: 5px;
   color: rgb(181, 181, 181);
}

.carousel {
    display: none;
}

@media screen and (max-width: 1280px ){

    .carousel {
        display: none;
    }
    
.mainfund{
    background-color: rgb(119, 0, 0);
    width: 275px;
    height: 570px;
    padding: 7px;
    margin: 10px;
    border-radius: 17px;
}

.imgfund{
    width: 275px;
    height: 250px ;
    border-radius: 15px 15px 0px 0px;
}

.but{
    width: 90px;
    height: 28px ;
    border-radius: 15px;
    font-size: 15px;
    margin-left: 90px;
    margin-top: 20px;
}

.but:hover{
    background-color: red;
    color: antiquewhite;
}

}

@media screen and (max-width: 1114px ){

.mainfund{
    background-color: rgb(119, 0, 0);
    width: 241px;
    height: 550px;
    padding: 5px;
    margin: 9px;
    border-radius: 17px;
}
    
.imgfund{
    width: 241px;
    height: 240px ;
    border-radius: 15px 15px 0px 0px;
}

.textbaix{
    font-size: 14px;
    padding-right: 4px;
    color: rgb(204, 197, 197);
}

.tex001{
    color: rgb(203, 199, 199);
    margin-top: 10px;
    margin-left: 5px;
    font-size: 20px;
}
    
.but{
    width: 90px;
    height: 30px ;
    border-radius: 15px;
    font-size: 15px;
    margin-left: 75px;
    margin-top: 12px;
}
    
.but:hover{
    background-color: red;
    color: antiquewhite;
}
}

@media screen and (max-width: 884px ){

    .funda{
        height: 470px;
        background-color: rgb(119, 0, 0);
    }

    .mainfund{
        background-color: rgb(119, 0, 0);
        width: 380px;
        height: 705px;
        padding: 8px;
        margin: 9px;
        border-radius: 17px;
    }
        
    .imgfund{
        width: 380px;
        height: 315px ;
        border-radius: 15px 15px 0px 0px;
    }

    .homii0{
        display: flex;
        padding: 12px;  
        margin-top: 25px; 
    }
    
    .homi01{
       display: block;
       margin: 8px;
    }
     
    .homii02{
       display: block;
       margin: 7px;
    } 

    .textbaix{
        font-size: 20px;
        padding-right: 4px;
        color: rgb(204, 197, 197);
        margin-left: 5px;
    }
    
    .tex001{
        color: rgb(218, 204, 204);
        margin-top: 10px;
        margin-left: 5px;
        font-size: 32px;
    }

    .hugg00{
        color: rgb(210, 198, 198);
        margin-top: 10px;
        margin-left: 5px;
        text-align: justify;
        padding-right: 3px;
        font-size: 20px;
    }
      
    .but{
        width: 115px;
        height: 40px ;
        border-radius: 15px;
        font-size: 19px;
        margin-left: 120px;
        margin-top: 12px;
    }
        
    .but:hover{
        background-color: red;
        color: antiquewhite;
    }

    .p2{
        margin-left: 10px;  
        margin-right: 10px;
        padding: 20px;
        font-size: 26px ;  
        text-align: justify;
        color: rgb(151, 143, 143);
     }

     .logara3{
        font-size: 24px;
        margin-left: 31px;
        margin-top: 15px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: rgb(210, 210, 210);
    }

    .ftextp{
        margin-top: 110px;
        margin-left: 38px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 21px;
        color: rgb(197, 200, 201);
    }

    .text3{
        font-size: 24px;
        margin-left: 31px;
        margin-top: 40px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: rgb(210, 210, 210);
    }

    .text1{
        font-size: 24px;
        margin-left: 31px;
        margin-top: 40px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: rgb(204, 200, 200);
    }

    .hflash{
        font-size: 26px;
        margin-left: 32px;
        margin-top: 10px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: rgb(210, 210, 210);
    }

    .fiitt{
        background-color: rgb(142, 3, 3); 
        display: flex;
        height: 100px;
    }     
    
    .fiitt1{
        width: 100px;
        font-size: 40px;
        margin-left: 30px;
        margin-top: 20px;
        color: rgb(204, 202, 202);
        font-family:Verdana, Geneva, Tahoma, sans-serif;
    }

    #burguer{
        color: rgb(218, 212, 212);
        display: block;
        padding: 10px;
        cursor: pointer;
        margin-top: 18px;
        margin-left: auto;
        margin-right: 10px;
        font-size: 35px;
    }
     
     #burguer:hover{
         color: red;
    }
    
}

@media screen and (max-width: 834px ){

    .text1{
        font-size: 24px;
        margin-left: 31px;
        margin-top: 125px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: rgb(204, 200, 200);
    }

    .tex001{
        color: rgb(218, 204, 204);
        margin-top: 10px;
        margin-left: 5px;
        font-size: 28px;
    }

    .mainfund{
        background-color: rgb(119, 0, 0);
        width: 345px;
        height: 705px;
        padding: 8px;
        margin: 16px;
        border-radius: 17px;
    }
        
    .imgfund{
        width: 345px;
        height: 315px ;
        border-radius: 15px 15px 0px 0px;
    }

    .homii0{
        display: flex;
        padding: 18px;  
        margin-top: 25px; 
    }
    
    .homi01{
       display: block;
       margin: 2px;
    }
     
    .homii02{
       display: block;
       margin: 2px;
    } 

    .funda{
        height: 470px;
        background-color: rgb(119, 0, 0);
    }
    
    .ftext{
       margin-left: auto;
       justify-content: space-between;
       display: flex;
       background-color: rgb(0, 0, 91);
       height: 20px;
    }
    
    .ftexth{
        margin-top: 50px;
        font-size: 45px;
        margin-left: 30px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    
    .ftextp{
        margin-top: 110px;
        margin-left: 38px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 20px;
        color: rgb(227, 231, 233);
    }

    .textbaix{
        font-size: 22px;
        padding-right: 4px;
        color: rgb(204, 197, 197);
        margin-left: 5px;
    }

    .hugg00{
        color: rgb(210, 198, 198);
        margin-top: 10px;
        margin-left: 5px;
        text-align: justify;
        padding-right: 3px;
        font-size: 19px;
    }

    .but{
        width: 120px;
        height: 39px ;
        border-radius: 15px;
        font-size: 19px;
        margin-left: 120px;
        margin-top: 12px;
    }
        
    .but:hover{
        background-color: red;
        color: antiquewhite;
    }
    

}

@media screen and (max-width: 820px ){

    .hugg00{
        color: rgb(210, 198, 198);
        margin-top: 10px;
        margin-left: 5px;
        text-align: justify;
        padding-right: 3px;
        font-size: 18.3px;
    }

    .text3{
        font-size: 24px;
        margin-left: 31px;
        margin-top: 5px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: rgb(210, 210, 210);
    }

    .text1{
        font-size: 24px;
        margin-left: 23px;
        margin-top:  130px;
        font-family: Verdana, Geneva, Tahoma, sans-serif; 
        display: flex;
    }

    .mainfund{
        background-color: rgb(119, 0, 0);
        width: 348px;
        height: 680px;
        padding: 8px;
        margin: 9px;
        border-radius: 17px;
    }
        
    .imgfund{
        width: 348px;
        height: 305px ;
        border-radius: 15px 15px 0px 0px;
    }

    .textbaix{
        font-size: 20px;
        padding-right: 4px;
        color: rgb(204, 197, 197);
        margin-left: 5px;
    }
    
    .tex001{
        color: rgb(218, 204, 204);
        margin-top: 10px;
        margin-left: 5px;
        font-size: 26px;
    }

    .but{
        width: 115px;
        height: 36px ;
        border-radius: 15px;
        font-size: 19px;
        margin-left: 110px;
        margin-top: 12px;
    }
        
    .but:hover{
        background-color: red;
        color: antiquewhite;
    }

    
    .homii0{
        display: flex;
        padding: 24px;  
        margin-top: 25px; 
    }
    
    .homi01{
       display: block;
       margin: 2px;
    }
     
    .homii02{
       display: block;
       margin: 2px;
    } 

}

@media screen and (max-width: 800px ){

    .text3{
        font-size: 24px;
        margin-left: 31px;
        margin-top: 5px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: rgb(210, 210, 210);
    }

    .text1{
        font-size: 24px;
        margin-left: 23px;
        margin-top:  130px;
        font-family: Verdana, Geneva, Tahoma, sans-serif; 
        display: flex;
    }
    .mainfund{
        background-color: rgb(119, 0, 0);
        width: 338px;
        height: 687px;
        padding: 8px;
        margin: 9px;
        border-radius: 17px;
    }
        
    .imgfund{
        width: 338px;
        height: 305px ;
        border-radius: 15px 15px 0px 0px;
    }

    .homii0{
        display: flex;
        padding: 24px;  
        margin-top: 25px; 
    }
    
    .homi01{
       display: block;
       margin: 2px;
    }
     
    .homii02{
       display: block;
       margin: 2px;
    } 

    .textbaix{
        font-size: 21px;
        padding-right: 4px;
        color: rgb(204, 197, 197);
        margin-left: 5px;
    }

    .but{
        width: 120px;
        height: 39px ;
        border-radius: 15px;
        font-size: 19px;
        margin-left: 100px;
        margin-top: 17px;
    }
        
    .but:hover{
        background-color: red;
        color: antiquewhite;
    }

    .hugg00{
        color: rgb(210, 198, 198);
        margin-top: 10px;
        margin-left: 5px;
        text-align: justify;
        padding-right: 3px;
        font-size: 19px;
    }

    .ftextp{
        margin-top: 110px;
        margin-left: 38px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 18px;
        color: rgb(227, 231, 233);
    }

    .funda{
        height: 450px;
        background-color: rgb(119, 0, 0);
    }
    

}

@media screen and (max-width: 769px ){

 
    .fiitt1{
        width: 100px;
        font-size: 38px;
        margin-left: 27px;
        margin-top: 21px;
        color: rgb(204, 202, 202);
        font-family:Verdana, Geneva, Tahoma, sans-serif;
    }

    .text1{
        font-size: 22px;
        margin-left: 23px;
        margin-top:  130px;
        font-family: Verdana, Geneva, Tahoma, sans-serif; 
        display: flex;
    }

    .text3{
        font-size: 24px;
        margin-left: 31px;
        margin-top: 5px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: rgb(210, 210, 210);
    }
    
    .mainfund{
        background-color: rgb(119, 0, 0);
        width: 318px;
        height: 657px;
        padding: 8px;
        margin: 9px;
        border-radius: 17px;
    }
        
    .imgfund{
        width: 318px;
        height: 277px ;
        border-radius: 15px 15px 0px 0px;
    }
 
    .but{
        width: 120px;
        height: 39px ;
        border-radius: 15px;
        font-size: 19px;
        margin-left: 92px;
        margin-top: 17px;
    }
        
    .but:hover{
        background-color: red;
        color: antiquewhite;
    }

    .textbaix{
        font-size: 17px;
        padding-right: 4px;
        color: rgb(204, 197, 197);
        margin-left: 5px;
    }

    .tex001{
        color: rgb(218, 204, 204);
        margin-top: 10px;
        margin-left: 5px;
        font-size: 25px;
    }

    .hugg00{
        color: rgb(210, 198, 198);
        margin-top: 10px;
        margin-left: 5px;
        text-align: justify;
        padding-right: 3px;
        font-size: 18.2px;
    }

    .homii0{
        display: flex;
        padding: 17px;  
        margin-top: 20px; 
    }
    
    .homi01{
       display: block;
       margin: 8px;
    }
     
    .homii02{
       display: block;
       margin: 7px;
    } 

}

@media screen and (max-width: 500px ){

    
    body {
        font-family: Arial, sans-serif;
        background-color: rgb(255, 255, 255);
        color: rgb(0, 0, 0);
        transition: background-color 0.3s, color 0.3s;
    }
    
    body.dark-mode {
        background-color: #000000;
        color: #ffffff;
    }
    
    .container {
        max-width: 800px;
        margin-left: 17px;
        padding: 20px;
        text-align: center;
        font-size: 1px;
    }

    body.dark-mode span {
        color: rgb(218, 212, 212);
    }
 
    .fiitt{
        background-color: rgb(142, 3, 3); 
        display: flex;
        height: 60px; 
      }

      .fiitt1{
        width: 100px;
        font-size: 22px;
        margin-left: 17px;
        margin-top: 17px;
        color: rgb(217, 217, 217);
        font-family: Verdana, Geneva, Tahoma, sans-serif;
      }

      header{
        padding: 10px;   
      }
      
      menu{
          display: none;
      }
      
      menu > ul{
          list-style-type: none;
      }

      
      menu > ul > li > a {
        display: block;
        text-decoration: none;
        background-color: rgb(142, 3, 3);
        color: white;
        padding: 7.5px;
        margin-right: 0px;
        width: 106px;
        height: 27px;
        margin-top: 0px;
        font-size: 13px;
        text-align: left;
        margin-left: auto;
        border-radius: 0.7px;
        margin-top: 0px;
      }

      menu > ul > li > a:hover{
        background-color: rgb(113, 4, 4);
    }

      #burguer{
        color: rgb(218, 212, 212);
        display: block;
        padding: 2px;
        cursor: pointer;
        margin-top: 16px;
        margin-left: auto;
        font-size: 24px;
        margin-left: auto;
        margin-right: 0px;
     }
     
     #burguer:hover{
         color: rgb(113, 4, 4);
     }

     .text1{
        font-size: 15px;
        margin-left: 13px;
        margin-top:  85px;
        font-family: Verdana, Geneva, Tahoma, sans-serif; 
        display: flex;
    }

    .inicciall{
        min-width: 100px;
        max-width: 2256;
        max-height: 1400px ;
        margin: 25px;
        margin-top: 25px;
        padding: 6px;
        background-color: rgb(119, 0, 0);
        border-radius: 15px;
   }

   .hflash{
    font-size: 15px;
    margin-left: 18px;
    margin-top: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(210, 210, 210);
    }

    .p1{
        margin-left: 25px;  
        padding: 0px;
        font-size: 12px; 
        margin-top: 10px;
        
    }
    
    .p2{
       margin-left: 16px;  
       padding: 1px;
       font-size: 17px ;  
       text-align: justify;
       
       margin-top: 10px;
    }
    
    .text3{
        font-size: 15px;
        margin-left: 13px;
        margin-top: 20px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: rgb(210, 210, 210);
    }

    .apaix{
        min-width: 100px;
        max-width: 2256;
        max-height: 1400px ;
        min-height: 230px;
        margin: 20px;
        margin-top: 17px;
        padding: 6px;
        background-color: rgb(119, 0, 0);
        border-radius: 15px; 
    }

    .logara3{
        font-size: 15px;
        margin-left: 13px;
        margin-top: 20px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: rgb(210, 210, 210);
    }

    .mainfund{
        background-color: rgb(119, 0, 0);
        width: 285px;
        height: 495px;
        padding: 4px;
        margin: auto;
        margin-top: 40px;
        border-radius: 17px;
    }
        
    .imgfund{
        width: 285px;
        height: 235px ;
        border-radius: 15px 15px 0px 0px;
    }

    .homii0{
        display: none;
        padding: 5px;  
        margin-top: 0px; 
        margin: 10px;
    }
    
    .homi01{
       display: flex;
       margin:  0px;
    }
     
    .homii02{
       display: flex;
       margin:  0px;
    } 

    .textbaix{
        font-size: 13px;
        padding-right: 4px;
        color: rgb(204, 197, 197);
        margin-left: 5px;
        margin-top: 8px;
    }

    .tex001{
        color: rgb(218, 204, 204);
        margin-top: 0px;
        margin-left: 0px;
        font-size: 21px;    
    }

    .hugg00{
        color: rgb(210, 198, 198);
        margin-top: 5px;
        margin-left: 5px;
        text-align: justify;
        padding-right: 3px;
        font-size: 13.7px;
    }

    .but{
        width:90px;
        height: 30px ;
        border-radius: 15px;
        font-size: 15px;
        margin-left: 90px;
        margin-top: 8px;
    }
        
    .but:hover{
        background-color: red;
        color: antiquewhite;
    }

    .funda{
        height: 287px;
        background-color: rgb(119, 0, 0);
        width: 100%;
        margin-top: 25px;
    }

    .ftext{
        margin-left: auto;
        justify-content: space-between;
        display: flex;
        background-color: rgb(0, 0, 91);
        height: 20px;
     }
     
     .ftexth{
         margin-top: 45px;
         font-size: 25px;
         margin-left: 14px;
         font-family: Verdana, Geneva, Tahoma, sans-serif;
     }
     
     .ftextp{
         margin-top: 70px;
         margin-left: 23px;
         font-family: Verdana, Geneva, Tahoma, sans-serif;
         font-size: 10px;
         color: rgb(227, 231, 233);
     }

     .infire{
        margin-right: 10px;
     }
     
     .n1{
        width: 25px;
        padding: 3px;
        margin-top: 45px
     }
     
     .n2{
         width: 21px;
         padding: 4.5px;
         margin-top: 30px
     }
     
     .n3{
         width: 25px;
         padding: 3px;
         margin-top: 30px
     }

     .ftexth4{
        font-size: 19px;
        margin-left: 13px;
        margin-top: 15px;
     }
     
     .ftextp1{
        font-size: 13px;
        margin-top: 20px;
        margin-left: 40px;
        background-color: rgb(0, 0, 91);
        width: 224px;
        height: 19px;
        padding: 3px;
        border-radius: 5px;
        color: rgb(181, 181, 181);
     }

     /* style carrosel */

 
.carousel {
    position: relative;
    width: 340px;
    overflow: hidden;
    margin: 21px;
    top: 0px;
    padding: 0px;
    display: block;
    
}

.carousel-container {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-slide {
    min-width: 300px;
    min-height: 200px;
    background-color: #000000;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin: 5px;
}

.carousel-nav {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.dot {
    height: 15px;
    width: 15px;
    margin: 0 5px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
}

.dot.active {
    background-color: #717171;
}
    
 
}